body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

.nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	text-decoration: none;
}

.home_nav li{
	cursor: pointer;
}

ul {
	padding-left: 0;
}

li {
	list-style-type: none;
	padding: 10px;
	text-decoration: none;
}

.question {
	width: 100%;
	max-width: 590px;
	padding: 10px;
	display: flex;
	margin: 0 auto;
	border: 1px solid #dad7d7;
	border-radius: 3px;
	/* cursor: pointer; */
	flex-direction: column;
}

.question p {
	font-size: 18px;
	font-weight: 400;
	margin: 5px;
}

.question button {
	font-size: 15px;
	font-weight: 400;
	margin: 10px 5px;
}


.question_short {
	font-size: 15px !important;
	font-weight: 100 !important;
}

.question_full {
	display: inline-block;
	margin: 0px;
	font-weight: 400 !important;
}

.question_percent {
	font-size: 15px !important;
	display: block;
	margin: 0px;
	font-weight: 500 !important;
	color: gray;
}

.question_content {
	display: flex;
	flex-direction: row;
	margin: 0px;
}

/* .question_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
} */
.question_info {
}

.avatar {
	height: 100px;
	width: 100px;
	border-radius: 30px;
	margin: 20px;
}

.avatar_small {
	height: 30px;
	width: 30px;
	border-radius: 15px;
	margin: 0px;
}